@font-face { 
	font-family: 'Ginger Bold'; 
	src: url('fonts/F37 Ginger Bold.ttf') format('truetype');
} 
@font-face {
	font-family: 'Ginger Regular';
	src: url('fonts/F37 Ginger Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d6d6db;
	font-family: 'Ginger Bold', Arial, sans-serif;
}

/* navbar starts here */

li, a {
    font-size: 14px;
    color: #233453;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
	margin: 0px 160px 0px 120px;
}

.logo {
    cursor: pointer;
    max-width: 130px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
	font-weight: 500;
}

.nav_links li a:hover {
    color: #878d97;
}

button {
    font-family: Ginger Bold ;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    color: #233453;
    background-color: #bcbcc2;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #b8b8bd;
    transform: scale(1.2);
}

/* Intro starts here */

.intro {
	width: 100%;
	padding: 100px 0px;
}

.intro img {
	height: auto;
	width: 430px;
	border-radius: 50%;
	border: 10px solid #233453;
}

.main-intro {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro-text {
	width: 540px;
}

.intro-text h1 {
	color: #415a77;
	font-family: 'Ginger Bold', Arial, sans-serif;
	font-size: 75px;
	margin-bottom: 20px;
}

.intro-text h2 {
	color: #415a77;
	font-family: 'Ginger Regular', Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 35px;
	margin-bottom: 35px;
}

.intro-text p {
	color:rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
}

.lta {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* projects starts here */

.project{
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: #415a77;
    font-family: 'Raleway', sans-serif;
	font-size: 75px;
	width: 1130px;
	margin: 40px auto;
	text-align: center;
}
.box{
    font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 265px;
	width: 365px;
	padding: 20px 35px;
	background-color: #171931;
	border-radius: 15px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: inline-block;
}

h5{
    background-color: #171931;
	color: #CAC4CE;
	font-size: 23px;
	margin-bottom: 15px;
}

.text-btn {
	background-color: #171931;
}

.text-btn p{
    background-color: #171931;
	color: #CAC4CE;
	font-size: 16px;
	line-height: 27px;
    padding-bottom: 15px;
}

.card .button {
    font-family: Ginger Bold ;
	width: auto;
	height: 100%;
    font-size: 13px;
    text-decoration: none;
    padding: 9px 25px;
    color: #233453;
    background-color: #bcbcc2;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
	margin-top: 100px;
}

.card .button:hover {
    background-color: #b8b8bd;
    transform: scale(1.2);
}

.aquabot img {
	height: 150px;
	width: 150px;
	border-radius: 0%;
	background-color: #171931;
	display: flex;
	justify-content: left;
	align-items: left;
}

/* About Me starts here */

.about {
	width: 100%;
	padding: 100px 0px;
}

.about img {
	height: auto;
	width: 430px;
	border-radius: 30px;
	border: 5px solid rgba(255, 238, 242, 1);
	order: 2;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-text {
	width: 540px;
	order: 1;
}

.about-text h1 {
	color: #415a77;
	font-family: 'Raleway', sans-serif;
	font-size: 75px;
	margin-bottom: 20px;
}

.about-text h2 {
	color: #415a77;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-size: 35px;
	margin-bottom: 35px;
}

.about-text p {
	color:#415a77;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
}

.lta {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* footer/socials starts here */

.footer {
	padding: 40px 0;
}

.footer .social {
	text-align: center;
	padding-bottom: 15px;
}

.footer .social a {
	font-size: 30px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	opacity: .75;
	transition: all 0.3s ease 0s;
}

.footer .social a:hover {
	opacity: 1;
}

.footer ul {
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	text-align: center;
	line-height: 1.6;
	margin-bottom: 0;
}

.footer ul li a {
	color: inherit;
	text-decoration: none;
	font-weight: 500; 
	opacity: 0.8;
}

.footer ul li {
	display: inline-block;
	padding: 0 15px;
}

.footer ul li a:hover {
	opacity: 1;
}

.footer .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	color: #415a77;
}