
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #242038;
}

/* navbar starts here */

li, a {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #8D86C9;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    max-width: 150px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
	font-weight: 500;
}

.nav_links li a:hover {
    color: #CAC4CE;
}

button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    color: #706BA0;
    background-color: rgba(255, 238, 242, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #CAC4CE;
    transform: scale(1.2);
}

/* Intro starts here */

.intro {
	width: 100%;
	padding: 100px 0px;
}

.intro img {
	height: auto;
	width: 430px;
	border-radius: 30px;
	border: 5px solid rgba(255, 238, 242, 1);
}

.main-intro {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro-text {
	width: 540px;
}

.intro-text h1 {
	color: rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	font-size: 75px;
	margin-bottom: 20px;
}

.intro-text h2 {
	color: rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-size: 35px;
	margin-bottom: 35px;
}

.intro-text p {
	color:rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
}

.lta {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* projects starts here */

.project{
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: rgba(255, 238, 242, 1);
    font-family: 'Raleway', sans-serif;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
    font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background-color: #171931;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

h5{
    background-color: #171931;
	color: #CAC4CE;
	font-size: 23px;
	margin-bottom: 15px;
}
.text-btn p{
    background-color: #171931;
	color: #CAC4CE;
	font-size: 16px;
	line-height: 27px;
    padding-bottom: 60px;
}
.card .button{
	background-color: rgba(255, 238, 242, 1);
	color: #706BA0;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: 500;
	padding: 9px 22px;
	border-radius: 30px;
	transition: all 0.3s ease 0s;
}
.card .button:hover{
	background-color: #CAC4CE;
	cursor: pointer;
	font-weight: 500;
}

/* About Me starts here */

.about {
	width: 100%;
	padding: 100px 0px;
}

.about img {
	height: auto;
	width: 430px;
	border-radius: 30px;
	border: 5px solid rgba(255, 238, 242, 1);
	order: 2;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-text {
	width: 540px;
	order: 1;
}

.about-text h1 {
	color: rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	font-size: 75px;
	margin-bottom: 20px;
}

.about-text h2 {
	color: rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-size: 35px;
	margin-bottom: 35px;
}

.about-text p {
	color:rgba(255, 238, 242, 1);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
}

.lta {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* footer/socials starts here */

.footer {
	padding: 40px 0;
}

.footer .social {
	text-align: center;
	padding-bottom: 15px;
}

.footer .social a {
	font-size: 30px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	opacity: .75;
	transition: all 0.3s ease 0s;
}

.footer .social a:hover {
	opacity: 1;
}

.footer ul {
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	text-align: center;
	line-height: 1.6;
	margin-bottom: 0;
}

.footer ul li a {
	color: inherit;
	text-decoration: none;
	font-weight: 500; 
	opacity: 0.8;
}

.footer ul li {
	display: inline-block;
	padding: 0 15px;
}

.footer ul li a:hover {
	opacity: 1;
}

.footer .copyright {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	color: #aaa;
}