@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    background-color: #131518;
}

.rectangle{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -66.5%);
}

.box{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card{
    width: 750px;
    height: 380px;
    padding: 20px 35px;
    background-color: #3a514a ;
    border-radius: 15px;
    margin: 15px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    display: block;
    border: #21362f 0.8rem solid;
}

@media (max-width: 970px) {
    .main-card {
        width: 250px;
        height: 600px;
    }
}

@media (max-width: 970px) {
    .main-card h5{
        margin-left: -7px;
    }
}

h5{
    font-family: 'Source Sans Pro';
    color: whitesmoke;
    font-size: 75px;
    margin: 30px auto auto auto;
    background-color: #3a514a;
    text-transform: uppercase;
}

@media (max-width: 970px) {
    .left-card h5 {
        padding-right: 600px;
        width: 347px !important;
        overflow: hidden !important;
        word-wrap: break-word !important;
    }
}

p {
    font-family: 'Source Sans Pro';
    font-size: 30px;
    margin: 20px 0 30px 0px;
    background-color: #3a514a;
    color: whitesmoke;
}

i {
    background-color: #3a514a;
    color: #f5f5f5;
    font-size: 50px;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
}

ul {
    margin: 50px;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    background-color: #3a514a;
}
ul li {
    margin: 10px;
    display: inline-block;
    background-color: #3a514a;
}
ul li a {
    display: inline-block;    
}
ul li a img {
    width: 50px;
    height: 50px;
    display: block;
    transition: all 0.3s ease 0s;
    background-color: #3a514a;
}
ul li a:hover img {
    transform: scale(1.2);
}

.left-card {
    width: 315px;
    height: 360px;
    padding: 20px 35px;
    background-color: #3a514a ;
    border-radius: 15px;
    margin: 10px;
    margin-top: 930px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    border: #21362f 0.8rem solid;
}

@media (max-width: 970px) {
    .left-card {
        width: 250px;
        height: 420px;
        position: absolute;
        margin-top: 1105px;
    }
}

.right-card {
    width: 315px;
    height: 360px;
    padding: 20px 35px;
    background-color: #3a514a ;
    border-radius: 15px;
    margin: 10px;
    margin-top: 930px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    border: #21362f 0.8rem solid;
}

@media (max-width: 970px) {
    .right-card {
        width: 250px;
        height: 390px;
        position: absolute;
        margin-top: 2070px;
        margin-right: 15px;
    }
}

.right-card h5 {
    font-family: 'Source Sans Pro';
    font-size: 30px;
    margin: 20px 0 30px 0px;
    background-color: #3a514a;
    color: whitesmoke;
}

.left-card h5 {
    width: 350px;
    font-family: 'Source Sans Pro';
    font-size: 30px;
    margin: 20px 0px 30px 0px;
    background-color: #3a514a;
    color: whitesmoke;
    transform: translate(-5%, 0%);
}

.twilio-logo {
    width: 70px;
    height: 71px;
    background-color: #3a514a;
    transition: all 0.3s ease 0s;
}

@media (max-width: 970px) {
    .twilio-logo {
        margin-top: -10px;
    }
}

.twilio-logo:hover {
    width: 70px;
    height: 71px;
    transform: scale(1.2);
    background-color: #3a514a;
}

.aqua-logo {
    width: 75px;
    height: 75px;
    background-color: #3a514a;
    transition: all 0.3s ease 0s;
}

.aqua-logo:hover {
    width: 70px;
    height: 71px;
    transform: scale(1.2);
    background-color: #3a514a;
}

.project-desc p{
    font-size: 20px;
}

a {
    background-color: #3a514a;
}
